<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header text-primary">
          <h2>Binding & Events Child Component</h2>
      </div>
      <div class="card-body">
        <p>Changes here bubble up and trickle down.</p>
        <!-- Input using a form control -->
        <input [formControl]="childControl">
        <p>Child Value: <span class="text-primary">{{childModel}}</span></p>
      </div>
      <div class="card-footer">
          <p><small>Updated from parent <mark>{{updatesOnChanges}}</mark> times.</small></p>
          <p><small>Updated from grandchild <mark>{{updatesOnEvents}}</mark> times.</small></p>
        </div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col">
    <hcc-grandchild [(grandchildModel)]="childModel" (grandchildModelUpdated)="grandchildModelUpdated($event)"></hcc-grandchild>        
  </div>
  <div class="col">
    <hcc-grandchild [(grandchildModel)]="childModel" (grandchildModelUpdated)="grandchildModelUpdated($event)"></hcc-grandchild>              
  </div>
</div>