<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header text-primary">
          <h2>Tree Branch</h2>
      </div>
      <div class="card-body">
        <p>Changes here are passed up the component tree.</p>
        <!-- Input as a form control, no data binding  -->
        <input [formControl]="branchControl">
        <p>Branch Value: <span class="text-primary">{{branchModel}}</span></p>
      </div>
      <div class="card-footer">
          <p><small>Updated from child <mark>{{updatesOnEvents}}</mark> times.</small></p>
      </div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col">
    <!-- Child component with event listener registered -->
    <app-leaf (leafModelUpdated)="childModelUpdated($event)"></app-leaf>        
  </div>
  <div class="col">
    <!-- Child component with event listener registered -->
    <app-leaf (leafModelUpdated)="childModelUpdated($event)"></app-leaf>              
  </div>
</div>