<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header text-primary">
          <h2>Tree Branch</h2>
      </div>
      <div class="card-body">
        <p>Changes here will trickle down the component tree.</p>
        <!-- Model bound to input control -->
        <input [(ngModel)]="branchModel">
        <p>Branch Value: <span class="text-primary">{{branchModel}}</span></p>
      </div>
      <div class="card-footer">
          <p><small>Updated from parent <mark>{{parentUpdateCount}}</mark> times.</small></p>
      </div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col">
    <!-- Model passed to child component -->
    <app-leaf [(leafModel)]="branchModel"></app-leaf>        
  </div>
  <div class="col">
    <!-- Model passed to child component -->
    <app-leaf [(leafModel)]="branchModel"></app-leaf>              
  </div>
</div>