<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header text-danger">
          <h2>Tree Top</h2>
      </div>
      <div class="card-body">
        <p>Use reactive forms, input binding and event emitters to keep all models in sync.</p>
        <!-- Input using a form control -->
        <input [formControl]="topControl">
        <p>Top Value: <span class="text-danger">{{topModel}}</span></p>
      </div>
      <div class="card-footer">
        <p><small>Updated from child <mark>{{updatesOnEvents}}</mark> times.</small></p>          
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Child component with model passed down and event listener registered -->
    <app-branch [(branchModel)]="topModel" (branchModelUpdated)="childEventDetected($event)"></app-branch>
  </div>
  <div class="col">
    <!-- Child component with model passed down and event listener registered -->
    <app-branch [(branchModel)]="topModel" (branchModelUpdated)="childEventDetected($event)"></app-branch>      
  </div>
</div>