<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header text-primary">
          <h2>Tree Branch</h2>
      </div>
      <div class="card-body">
        <p>Changes here bubble up and trickle down.</p>
        <!-- Input using a form control -->
        <input [formControl]="branchControl">
        <p>Branch Value: <span class="text-primary">{{branchModel}}</span></p>
      </div>
      <div class="card-footer">
          <p><small>Updated from parent <mark>{{updatesOnChanges}}</mark> times.</small></p>
          <p><small>Updated from child <mark>{{updatesOnEvents}}</mark> times.</small></p>
        </div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col">
    <app-leaf [(leafModel)]="branchModel" (leafModelUpdated)="childModelUpdated($event)"></app-leaf>        
  </div>
  <div class="col">
    <app-leaf [(leafModel)]="branchModel" (leafModelUpdated)="childModelUpdated($event)"></app-leaf>              
  </div>
</div>