<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header text-danger">
          <h2>Tree Top</h2>
      </div>
      <div class="card-body">
        <p>
          This is a demonstration of how data can be passed down the component tree with 
          <a href="https://angular.io/guide/component-interaction#pass-data-from-parent-to-child-with-input-binding">input binding</a>.
        </p>
        <!-- model bound to input control here -->
        <input [(ngModel)]="topModel">
        <p>Top Value: <span class="text-danger">{{topModel}}</span></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Model passed down to child component -->
    <app-branch [(branchModel)]="topModel"></app-branch>
  </div>
  <div class="col">
    <!-- Model passed down to child component -->
    <app-branch [(branchModel)]="topModel"></app-branch>      
  </div>
</div>